html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

canvas {
  display: block;
}



.div-block {
  align-items: center;
  display: flex;
  width: 50vw;
  height: 100vh;
  font-family: 'Roboto Slab', serif;

}

ul {
  padding: 0;
}

li {
  list-style: none;
  font-weight: 300;
}

p {
  font-weight: 300;
}


.grid {
  margin: 4vw;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto;
}








.dg {
  color: none;
  text-shadow: none !important;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

.dg.main.a {
  width: 50vw;
  min-width: 300px !important;
}

.dg.a {
    margin-right: 4vw !important;
}


.close-button.close-bottom {
  width: 50vw;
  min-width: 300px !important;
}

.slider-fg {
  background: #F98B88 !important;
}

.dg .cr.number {
  border-left: 3px solid #F98B88 !important;
  border-right: 1px solid #2c2c2c ;
}


.dg .cr.number input[type=text] {
  color: #F98B88 !important;
}

.dg .cr.boolean {
  border-left: 3px solid #F98B88 !important;
  border-right: 1px solid #2c2c2c ;
}
  
.dg .cr.function {
  border-left: 3px solid #F98B88 !important;
  border-right: 1px solid #2c2c2c ;
}

.dg .c input[type=checkbox] {
  background: #F98B88 !important;
  border: #F98B88 !important;
}


.dg li:not(.folder) {
    background: #FFFFFF;
}


  
  .dg {
    color: #000000;
}
  
  .dg.main .close-button {
    background: #FFFFFF;
    border: 1px solid #2c2c2c !important;
    }

.dg.main .close-button:hover {
    background: #F98B88;
    border: 1px solid #2c2c2c !important;
    }

.dg .c .slider {
    background: #ECECEC;
}

.dg .c .slider:hover {
    background: #DEDEDE;
}
  
  .dg .c input[type=text] {
    background: #ECECEC;
}
   
.dg .c:hover input[type=text] {
    background: #DEDEDE;
}

.dg .cr.function:hover, .dg .cr.boolean:hover {
    background: #DEDEDE;
}




